{% extends 'layout.html' %}

{% block content %}

{% include "header.html" %}

<div class="formWrapper">
    <h4 class="formTitle">
        New Post
    </h4>
    <form class="form" placeholder="ID" action="/board/create" method="POST" enctype="multipart/form-data">

        <div class="grid grid-cols-1 space-y-2">
            <label class="text-sm font-bold text-gray-500 tracking-wide">Attach Document</label>
            <div class="flex items-center justify-center w-full">
                <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
                    <div class="h-full w-full text-center flex flex-col items-center justify-center">
                        <div class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-10">
                            <img id="img-preview" class="h-36 object-center"
                                src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg"
                                alt="freepik image">
                        </div>
                        <p class="pointer-none text-gray-500 ">
                            <span class="text-blue-600 hover:underline">select a file</span> from your computer
                        </p>
                    </div>
                    <input id="img" type="file" class="hidden" accept="image/*">
                </label>
            </div>
        </div>

        <input class="input bg-gray-200 text-gray-700" placeholder="Writer" type="text" name="writer"
            value="writer: {{user.user}}" disabled>
        <input class="input" placeholder="title" type="text" name="title" maxlength="20" required>
        <textarea class="input h-60" placeholder="Describe everything about this post here" name="description" required
            maxlength="100"></textarea>
        <input id="img-url" class="hidden" name="url">
        <input class="input" type="password" placeholder="Password" name="password" required>
        <button class="btn">글쓰기</button>
    </form>
</div>

<script>
    auth();
</script>
{% endblock %}