<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HangHae Node</title>
    <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"> -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/styles/styles.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="/script/user.js" defer></script>
    <script src="/script/board.js" defer></script>
    <script src="/script/common.js" defer></script>

</head>

<body>
    <div class="h-full">
        <div class="h-full max-w-4xl m-auto rounded-xl">
            <div class="h-full w-full flex flex-col items-center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>